archive_n8n_exports/O_Arquivista_Master.json
{"updatedAt":"2026-03-18T16:07:59.616Z","createdAt":"2026-03-18T16:07:59.616Z","id":"I4zsFxPBCBjxYbQv","name":"O Arquivista Master","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"arquivista-master","options":{}},"name":"Webhook: Arquivista","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-300,100],"id":"trigger-arquivista"},{"parameters":{"jsCode":"const body = $input.first().json.body || $input.first().json;\nreturn [{ json: { telefone: body.telefone || body.phone || \"\", contexto: body.contexto || \"Sem contexto\" } }];"},"name":"Prepare","type":"n8n-nodes-base.code","typeVersion":2,"position":[-50,100],"id":"prepare-node"},{"parameters":{"method":"GET","url":"=https://brisalaser.kommo.com/api/v4/leads?query={{ $json[\"telefone\"].slice(-8) }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6Ijc3MzliYWExZmVkNTU3ZDIxNGI0ZmQ0YTMwMzQzMjk5ZGIxZjE0MmRmM2FiZWUwZjE5NmY1N2JjNWNhZjdjN2RjMDE5NDliNjRmY2E0YzMxIn0.eyJhdWQiOiJmOWIyMGI3MC1hYjY2LTQ4ODAtOTBiNS03YTdkNTZkOTBjNDAiLCJqdGkiOiI3NzM5YmFhMWZlZDU1N2QyMTRiNGZkNGEzMDM0MzI5OWRiMWYxNDJkZjNhYmVlMGYxOTZmNTdiYzVjYWY3YzdkYzAxOTQ5YjY0ZmNhNGMzMSIsImlhdCI6MTc3MzM2MjAzMCwibmJmIjoxNzczMzYyMDMwLCJleHAiOjE5MjM1MjMyMDAsInN1YiI6IjEzNTE5MDc5IiwiZ3JhbnRfdHlwZSI6IiIsImFjY291bnRfaWQiOjM0ODgwMjYzLCJiYXNlX2RvbWFpbiI6ImtvbW1vLmNvbSIsInZlcnNpb24iOjIsInNjb3BlcyI6WyJwdXNoX25vdGlmaWNhdGlvbnMiLCJmaWxlcyIsImNybSIsImZpbGVzX2RlbGV0ZSIsIm5vdGlmaWNhdGlvbnMiXSwiaGFzaF91dWlkIjoiNjAwMmQ1NTItOTQzOS00MDUxLWE3ZWMtOTQ3ZjY3NDE4NjMwIiwiYXBpX2RvbWFpbiI6ImFwaS1nLmtvbW1vLmNvbSJ9.VbeZU-lBllVqkJ2BkCIdjpnoynvzFzEh1E1zzxFgCxdAWK3gUp8C6rzdlYRKM8MWaIHy79A4iIfSAso-vnYy-0MzzFSAP0v_IbkIQ2xypQnrCn5n1g4XHWWxJr80KnVW1HtkRJO2DqPeLZBkR62V7Cw1-ZQT2N3BiV_0-ejVmDvYeX8NkSkOQOMpayW-YKn_ZgFvnENiSscsKfsBXubV6nJeQqR-ycxZGkNCTwM6MsjmJ-oFxvbCIEBeK0PD8kjrMdX_Di1JVzHOJhbIwfRwc-91Jmu5cd2Rc40RPky8bWaL5hk9ePlzKcMpgQlPYkZeK7KhCrDKYAPxFZDrqPYeqg"}]}},"name":"Lookup CRM","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[200,100],"id":"crm-lookup"}],"connections":{"Webhook: Arquivista":{"main":[[{"node":"Prepare","type":"main","index":0}]]},"Prepare":{"main":[[{"node":"Lookup CRM","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"0ef1adc7-9f96-4a4c-8f31-75590f465071","activeVersionId":"0ef1adc7-9f96-4a4c-8f31-75590f465071","versionCounter":3,"triggerCount":1,"shared":[{"updatedAt":"2026-03-18T16:07:59.621Z","createdAt":"2026-03-18T16:07:59.621Z","role":"workflow:owner","workflowId":"I4zsFxPBCBjxYbQv","projectId":"E5gjemxAFOf5dS41","project":{"updatedAt":"2025-12-17T18:55:18.281Z","createdAt":"2025-12-17T18:51:46.175Z","id":"E5gjemxAFOf5dS41","name":"Caio Gaia <caaiog3@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"f787b233-173e-415e-b023-0466f042e62d","projectRelations":[{"updatedAt":"2025-12-17T18:51:46.175Z","createdAt":"2025-12-17T18:51:46.175Z","userId":"f787b233-173e-415e-b023-0466f042e62d","projectId":"E5gjemxAFOf5dS41","user":{"updatedAt":"2026-03-18T11:08:51.000Z","createdAt":"2025-12-17T18:51:45.530Z","id":"f787b233-173e-415e-b023-0466f042e62d","email":"caaiog3@gmail.com","firstName":"Caio","lastName":"Gaia","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-17T18:55:27.849Z","personalization_survey_n8n_version":"1.103.2","companyType":"digital-agency"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"17uqrz7Rpyj93gIj","userActivatedAt":1766107477289,"npsSurvey":{"responded":true,"lastShownAt":1773272376721}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-03-18","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-18T16:07:59.629Z","createdAt":"2026-03-18T16:07:59.629Z","versionId":"0ef1adc7-9f96-4a4c-8f31-75590f465071","workflowId":"I4zsFxPBCBjxYbQv","nodes":[{"parameters":{"httpMethod":"POST","path":"arquivista-master","options":{}},"name":"Webhook: Arquivista","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-300,100],"id":"trigger-arquivista"},{"parameters":{"jsCode":"const body = $input.first().json.body || $input.first().json;\nreturn [{ json: { telefone: body.telefone || body.phone || \"\", contexto: body.contexto || \"Sem contexto\" } }];"},"name":"Prepare","type":"n8n-nodes-base.code","typeVersion":2,"position":[-50,100],"id":"prepare-node"},{"parameters":{"method":"GET","url":"=https://brisalaser.kommo.com/api/v4/leads?query={{ $json[\"telefone\"].slice(-8) }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6Ijc3MzliYWExZmVkNTU3ZDIxNGI0ZmQ0YTMwMzQzMjk5ZGIxZjE0MmRmM2FiZWUwZjE5NmY1N2JjNWNhZjdjN2RjMDE5NDliNjRmY2E0YzMxIn0.eyJhdWQiOiJmOWIyMGI3MC1hYjY2LTQ4ODAtOTBiNS03YTdkNTZkOTBjNDAiLCJqdGkiOiI3NzM5YmFhMWZlZDU1N2QyMTRiNGZkNGEzMDM0MzI5OWRiMWYxNDJkZjNhYmVlMGYxOTZmNTdiYzVjYWY3YzdkYzAxOTQ5YjY0ZmNhNGMzMSIsImlhdCI6MTc3MzM2MjAzMCwibmJmIjoxNzczMzYyMDMwLCJleHAiOjE5MjM1MjMyMDAsInN1YiI6IjEzNTE5MDc5IiwiZ3JhbnRfdHlwZSI6IiIsImFjY291bnRfaWQiOjM0ODgwMjYzLCJiYXNlX2RvbWFpbiI6ImtvbW1vLmNvbSIsInZlcnNpb24iOjIsInNjb3BlcyI6WyJwdXNoX25vdGlmaWNhdGlvbnMiLCJmaWxlcyIsImNybSIsImZpbGVzX2RlbGV0ZSIsIm5vdGlmaWNhdGlvbnMiXSwiaGFzaF91dWlkIjoiNjAwMmQ1NTItOTQzOS00MDUxLWE3ZWMtOTQ3ZjY3NDE4NjMwIiwiYXBpX2RvbWFpbiI6ImFwaS1nLmtvbW1vLmNvbSJ9.VbeZU-lBllVqkJ2BkCIdjpnoynvzFzEh1E1zzxFgCxdAWK3gUp8C6rzdlYRKM8MWaIHy79A4iIfSAso-vnYy-0MzzFSAP0v_IbkIQ2xypQnrCn5n1g4XHWWxJr80KnVW1HtkRJO2DqPeLZBkR62V7Cw1-ZQT2N3BiV_0-ejVmDvYeX8NkSkOQOMpayW-YKn_ZgFvnENiSscsKfsBXubV6nJeQqR-ycxZGkNCTwM6MsjmJ-oFxvbCIEBeK0PD8kjrMdX_Di1JVzHOJhbIwfRwc-91Jmu5cd2Rc40RPky8bWaL5hk9ePlzKcMpgQlPYkZeK7KhCrDKYAPxFZDrqPYeqg"}]}},"name":"Lookup CRM","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[200,100],"id":"crm-lookup"}],"connections":{"Webhook: Arquivista":{"main":[[{"node":"Prepare","type":"main","index":0}]]},"Prepare":{"main":[[{"node":"Lookup CRM","type":"main","index":0}]]}},"authors":"Caio Gaia","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-18T16:10:46.796Z","id":9,"workflowId":"I4zsFxPBCBjxYbQv","versionId":"0ef1adc7-9f96-4a4c-8f31-75590f465071","event":"activated","userId":"f787b233-173e-415e-b023-0466f042e62d"}]}}